* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family:fantasy;
    background-color: #053A3D;
}


.container{
    margin: 80px 70px 70px;
    box-shadow: 0px 35px 50px rgba (0, 0, 0, 0.2);
}

table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #1A2929;
}

td,
th {
    text-align: center;
    padding: 8px;
    border-right: 1px solid #1A2929;
}

td {
    font-size: 12px;
}

thead th {
    color: #ffffff;
    background: #1A2929;
}

tr:nth-child(even) {
    background: #9EDFD3;
}
